<div class="landing-container">
    <h2 class="landing landing__title">
        ¡CRUD Con MONGODB!
    </h2>
    <div class="landing__hero">
        <div class="container-row">
            <a class="container-row container-row__item" href="/mostrar" aria-label="Mostrar Peliculas">
                <h4>Mostrar peliculas</h4>
                <img src="/dependency.svg" />
            </a>
            <a class="container container-row__item" href="/registrar" aria-label="Registrar nuevas peliculas">
                <h4>Registrar pelicula</h4>
                <img src="/secured.svg" />
            </a>
            </div>
    </div>
</div>
