</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.min.css">
</head>

<body>
    <header class="top">
        <nav class="nav">
            <div class="nav__section nav__section--pages">
                <ul>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/" aria-label="Home Page">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/dbreq/registrar">registrar</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link nav__link--logo" href="/dbreq/mostrar">
                            mostrar</a>
                    </li>
                </ul>
        </nav>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer class="" id="footer" role="contentinfo">
        <a href="https://github.com/nodejs/examples/tree/main/servers/express/api-with-express-and-handlebars" >
            <img src="github.svg" width=20 high=20/>
        </a>
        <span>Templete proporcionado por:</span><a href="https://twitter.com/thiruppathi" rel="noopener" target="_blank">Thiru </a>
    </footer>
</body>

</html>
