<h2 class="landing landing__api-title">
    <img src="/secured.svg" />
    Registrar nuevo usuario
    <img src="/secured.svg" />
</h2>

<div class="landing__hero">
    <ul class="list">
        {{#dependencies}}
        <li>
            {{name}} <span class="version">{{version}}</span>
        </li>
        {{/dependencies}}
    </ul>
</div>
